* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  background-color: rgb(230, 230, 230);
  height: 100vh;
  padding: 20px;
}

input[type=text], select {
  padding: 0 6px;
  height: 30px;
}